<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>
    {% if page.title == "Home" %}{{ site.title }}{% else %}{{ page.title }} &middot; socratesk{% endif %}
  </title>

  <meta name="description" content="{{ site.description | strip_html }}">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}/public/css/socblog.css">

  <!-- Icons / RSS -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicon1.png">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.baseurl }}/atom.xml">

  <!-- Set theme before paint to avoid flash -->
  <script>(function(){try{var t=localStorage.getItem('soc-theme');if(t)document.documentElement.setAttribute('data-theme',t);}catch(e){}})();</script>
</head>
